* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */
}
ul {
    list-style: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

.page-body {
    width: 80%;
    margin: 5% auto;
}

/* ************* Overview section *************** */
hr {
    border: none;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.445);
}

hr.sub {
    margin: 40px auto 20px;
}

hr.top {
    margin: 50px auto;
}

.overview {
    display: grid;
    grid-template-columns: 4fr 7fr;
    column-gap: 80px;
}

.img-side {
    position: relative;
    overflow: hidden;
}

.book-img {
    width: 100%;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.3);
}

.img-side::before {
    content: "Available";
    background-color: #56cb5b;
    color: white;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    position: absolute;
    left: -100px;
    top: 40px;
    transform: rotate(-45deg);
}

/* ****************** Right side ***************** */

.book-title h1 {
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.book-title p {
    color: rgba(128, 128, 128, 0.443);
    font-weight: 500;
    font-size: 1.2rem;
}

.book-title p::before {
    content: "by";
    font-size: 0.9rem;
    margin: auto 10px;
    color: rgba(0, 0, 0, 0.8);
}

.rating {
    display: flex;
    align-items: center;
    margin: 10px 0 0 10px;
    color: gray;
}

.stars {
    margin-right: 10px;
}

.rating .checked {
    color: #ffea4f;
}

.status {
    background-color: #56cb5b;
    margin: 20px 0;
    color: white;
    width: 170px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    text-align: right;
    border-radius: 50px;
    position: relative;
}

.status::before {
    content: url("../img/check.png");
    width: 25px;
    height: 25px;
    position: absolute;
    left: 10px;
    top: 8px;
}

.book-info div {
    display: flex;
    justify-content: flex-start;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.book-info div::before {
    content: attr(before-content) ":";
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 20px;
    opacity: 0.8;
}

.buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 4fr;
    column-gap: 10px;
    margin-top: 40px;
}

.button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    transition: 0.3s opacity;
}

.borrow-btn {
    background-color: #1f1f1f;
    border: none;
    color: white;
}

.fav-btn {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    transform: translateY(1px);
}

/* *********** Description ********* */

.description {
    width: 70%;
    opacity: 0.8;
}

.description h2 {
    font-size: 1.8rem;
}

.description p {
    margin: 20px auto;
    color: black;
    font-family: sans-serif;
    line-height: 24px;
}
