.sidebar .profile-options-list .ProfileFavorite {
    border-right: #0063D8 3px solid;
}

.sidebar .profile-options-list .ProfileFavorite a {
    color: #0063D8;
    padding-left: 10px;
}

.sidebar .profile-options-list i{
    font-size: 20px;
}


/*  design for each book */



.main-books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 950px;
}


.Book {
    width: 230px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.Book button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: hsl(202, 96%, 37%);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.Book button:hover {
    background-color: hsl(202, 96%, 47%);
}

.background-img {
    background-color: #E7EFF2;
    display: flex;
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
    align-items: center;
}

.background-img img {
    width: 150px;
    height: 180px;
    border-radius: 10px;
}

.content-book {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    margin-bottom: 10px;
}

.content-book h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
}

.content-book span {
    font-size: 12px;
    margin-bottom: 20px;
    color: #666;
}