body{ 
    min-height: 100vh;
}

footer {
    position: sticky;
    top: 100%;
    background-color: #000000e0;
    height: 15vh;
    z-index: -1;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    list-style: none;
}

.footer-links li {
    margin-right: 20px;
}

.footer-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}

.footer-links li a:hover {
    color: #0063D8;
}
