body{
    background-color: #f0f8ff;
}
.page-title{
    color: #0063D8;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.login-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    margin-left: 100px;

}

.user-name-box input, .password-box input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    font-size: 18px;
}

.login-content a{
    text-decoration: none;
    color: #0063D8;
}

.user-name-box{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    width: 400px;
    border: solid;
    border-color: #0063D8;
    border-width: 0;
}

.user-name-label{
    color: rgb(171, 162, 162);
    position: absolute;
    transition: 0.5s;
    
}


.password-box{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    width: 400px;
    border: solid;
    border-color: #0063D8;
    border-width: 0;
    margin-bottom: 100px;
}

.password-label{
    position: absolute;
    color: rgb(171, 162, 162);
    transition: 0.5s;
}

.login-content input:focus ~ label,
.login-content input:valid ~ label
{
    font-size: 20px;
    color: #0063D8;
    top: 0;
    transform: translateX(-10px) translateY(-30px);
}


.password-box i{
    cursor: pointer;
    font-size: 20px;
}

#open-eye{
    color: #0063D8;
    display: none;
}

.password-box a{
    position: absolute;
    bottom: -25px;
    right: 5px;
}


.login-button{
    padding: 10px;
    position: relative;
    display: flex;
    background-color: #0063D8;
    color: white;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
}
.login-content a{
    margin-top: 10px;
    margin-left: -150px;
}