.loginHeader{
    margin-bottom: 50px;
    color: #0063D8;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

form{
    margin-top: 50px;
    margin-left: 230px;
    width: 40%;
    display: inline-block;
    font-family: Arial, sans-serif;
}

input{
    width: 350px;
    height: 45px;
    background-color: #efefef;
    color:black;
    padding-left: 15px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-color:#efefef;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
}

input:focus{
    outline-color:#0063D8;
    box-shadow: none;
}

label{
    padding-left: 10px;
    padding-bottom: 10px;
}
.username-box{
    margin-bottom: 20px;
}
.password-box{
    display: flex;
    align-items: center;
}
.password-box img{
    width: 32px;
    margin-top: -10px;
    margin-left: -40px;
    cursor: pointer;
}
.forgetPassword{
    padding-left: 220px;
}


.loginButton{
    width: 370px;
    color: white;
    background-color: #0063D8;
    border-color: #0063D8;
    display: block;
    margin-top: 70px;
    margin-bottom: 10px;
    transition: background-color 0.8s ease;
}

.loginButton:hover{
    background-color: #005ea6;
}

a{
    text-decoration: none;
    color: #0063D8;
}

::placeholder {
    color: #9F9F9F;
} 

.banner{
    margin-left: -70px;
    vertical-align: -70px;
}

