h1{
    text-align: center;
}

.loginForm{
    padding-left: 10%;
    width: auto;
    display: inline-block;
}

.loginForm div{
    width: 400px;
    color: #C9C9C9;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    vertical-align: middle;

}
.label{
    margin-bottom: 6px;
    margin-left: -10px;
}

.forgetPassword{
    margin-left: 63%;
    margin-top: -15px;
}

p{
    padding-left: 20px;

}


button{
    color:#FFFBFB ;
    border-color:#0063D8 ;
    border-radius: 10px;
    display: block;
    background-color: #0063D8;
    height: 55px;
    width: 400px;
    margin-bottom: 20px;
    margin-top: 30px;
}



img{
    vertical-align: -50px;
    padding-left: 10%;
    width: auto;
    display: inline-block;
}

a{
    margin-top: 50px;
    padding-top: 50px;
    text-decoration: none;
}
