/* @import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap'); */

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.paymentMethod {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.paymentMethod:hover {
    background-color: #f9f9f9;
}
.creditCardIcon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


footer {
    margin-top: auto;
}