/* @import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap'); */

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}
.profile-general-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-general-image img {
  margin: 0;
  width: 50px;
  height: 50px;
}

.profile-page-name {
    text-align: center;
    font-size: 40px;
}  

.profile-options-list {
    display:block;
    justify-content:baseline;
    /* align-items: center; */
    flex-wrap: wrap;
}


.profile-options-list li {
    padding: 12px 16px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    background-color: #f1f1f1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 0 10px 10px 0;
    width: calc(33.33% - 20px);
}

.profile-options-list li {
    padding: 20px 16px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none; /* remove underline */
    border-bottom: none; /* remove underline */
}
.li{
    text-decoration: none;
}
.profile-options-list li:hover {
    background-color: #189AB4;
    color: white;
    text-decoration: none;
}



footer {
    margin-top: auto;
}