* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f8ff;
}

.website-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #000000e0;
  height: 80px;
  transition: 0.2s;
}

/* logo */

.logo {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo h1 {
  color: #0063d8;
}
.logo a {
  text-decoration: none;
}

/* nav-links */

.nav-links ul {
  list-style: none;
  display: flex;
}

.nav-links ul li {
  margin-right: 40px;
}

.nav-links ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
}

.nav-links ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  bottom: -8px;
  left: 0;
  background-color: #0063d8;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
  transform-origin: right;
}

.nav-links ul li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-links ul li a:hover {
  color: #0063d8;
}

/* signup button */

.profile {
  display: flex;
  align-items: center;
  gap: 30px;
}

.signUp-btn,
.login-btn {
  background-color: white;
  color: #0063d8;
  background-color: #0063d8;
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  border-color: transparent;
}

.login-btn {
  font-size: 16px;
}

.website-header button:hover {
  /* background-color: #0063d8;
    color: white; */
  background-color: white;
  color: #0063d8;
}

/* profile-icon */

.profile-icon img {
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 40px;
}

/* Scroll-bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f0f8ff;
}

::-webkit-scrollbar-thumb {
  /* border-radius: 5px; */
  background-color: #000000e0;
}

/* scroll-up button */

.scroll-up {
  background-color: #0063d8;
  display: flex;
  position: fixed;
  border-radius: 5px;
  right: 10px;
  bottom: 30px;
  padding: 7px;
  visibility: hidden;
  cursor: pointer;
  z-index: 1000;
}

.scroll-up.show {
  visibility: visible;
}

.scroll-up img {
  width: 20px;
  height: 20px;
}

/* POP UP Message */
.msg-box {
  position: fixed;
  right: 0;
  top: 80px;
  padding: 10px;
  width: 450px;
  overflow: hidden;
  z-index: 1000;
}

.message {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #42bd6c;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 6px;
  color: white;
  transform: translateX(110%);
  opacity: 0;
  transition: 0.5s transform, 1s opacity;
}

.message span {
  margin-right: 15px;
}

.message.active {
  opacity: 1;
  transform: translateX(0);
}
