.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 100px;
    padding-left: 150px;
    /* padding-right: 100px; */
}

.page-header{
    color: #0063D8;
    margin-left: 150px;
    margin-top: 50px;
}

.sidebar  {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 290px;
}
.profile-info{
    display: flex;
    align-items: center;
    border-right: #b9b3b385 1px solid;
    padding-bottom: 10px;
}
.profile-info img{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin-left: 10px;
}
.profile-info div{
    color: #aab9c4;
    margin-left: 20px;
    font-size: 20px;
}


.change-photo{
    display: none;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 20px;
    align-items: center;
    border-right: #b9b3b385 1px solid;
}

.change-photo span{
    background-color: #fff;
    color: #0063D8;
    padding: 10px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0 4px 6px rgba(148, 115, 115, 0.2);
    cursor: pointer;
}

input[type = "file"]{
    display: none;
}

.upload-photo-label{
    background-color: #0063D8;
    border-color: #0063D8;
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.change-photo i{
    margin-right: 10px;
}

label:active, .change-photo span{
    transform: scale(0.9);
}

.change{
    background-color: #0063D8;
}


.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 20px;
    padding-right: 70px;
    border-bottom: #b9b3b385 1px solid;
    border-right: #b9b3b385 1px solid;
}

.sidebar li:hover {
    background-color: #ced6df;
}

.sidebar li a {
    font-family: monospace;
    text-decoration: none;
    color: black;
}